
  .hide {
    display: none;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    display: flex;
    height: 100vh;    
}
section{
    display:flex;
}
.headers{
    margin: 25px 30px 35px 100px;
    flex-wrap: wrap;
    opacity: 70%;
    font-family: custom;
    color:#071271;
    font-size: larger;
    
}
#landing-header{
    font-size:xx-large; 
    margin-left: -90px;
}
.input-labels{
margin-top: 5px;
}
/* input name placegolders */
input{
    border-radius:40px;
    width: 15%;
    height: 60px;
    border-style:double;
    font-size: x-large;
    color:#071271;
    text-indent: 22%;
}
::placeholder{
    color: #071271;
    opacity: 30%;
    padding:10px;
    font-size: x-large;
    text-align: center;
    text-indent: 0%;
   
}
.landing-page{
        position: absolute;
        /* top: 30vh; */
        /* transform: translateY(-50%); */
        width: 100%;
        text-align: center;
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);        height:100vh;  
}
.headers{
    margin-top: 300px;
    letter-spacing: 1px;
}

#player1{
    order: 0;
    margin-top: 50px;
}
#player2{
    order: 2;
    margin-top: 50px;
}
#now-playing{
    order: 1;
    margin-top: 160px;
    margin-left: -480px;
    margin-right: 300px;
    background-color: #fffafa;
    max-height: 7%;
    max-width: 100%;
    border-radius: 100px;    
}
/* #name1, #name2, #score1, #score2{
    color: #a635b5;
    opacity:100%;
} */
#current-player{
    color: #eec10e;
    opacity:100%;
}
#times{
    order:0;
    margin-top: 650px;
    margin-left: -190px;

}
#restart-button,#end-game-button, #start-button{
    padding: 10px 10px 10px;
    margin: -100px 100px 20px 25px;
    height: 10%;
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #d49efa 0 -12px 6px inset;
  box-sizing: border-box;
  color: #071271;
  cursor: pointer;
  display: inline-block;
  font-family: custom;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#restart-button, #end-game-button{
    margin:-100px 10px 2px -30px;
    

}
#restart-button{
    margin-bottom: 50px;
}
#end-game-button{
    width: 110%;
}
#restart-button:hover,#end-game-button:hover, #start-button:hover {
  background-color: #f1e99f;
  box-shadow: #322473 0 -6px 8px inset;
  transform: scale(1.125);
}
#start-button{
    margin-top: 30px;
    width: 15%;
    height: 70px;
    font-size: 1.5rem;
    text-align: center;
}
#restart-button:active,#end-game-button:active, #start-button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
    #restart-button,#end-game-button {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}


/* imported font */
@font-face{
    font-family: custom;
    src: url(/font/Purple_Smile.otf);

}
.cards-container{
    flex-wrap: wrap;
    width: 560px;
    height: 460px;
    margin: 240px 10px 75px 110px;
    display: flex;
    /* perspective - how far an object is from a viewer */
    perspective: 1000px;
    align-items: center;
}
.card{
    width: calc(18% - 1px);
    height: calc(19% - 10px);
    margin: 15px;
    /* margin-top: 20px; */
    position: relative;
    box-shadow: 15px 15px 45px rgba(140, 24, 175, 0.3);
    transform: scale(1);
    border-radius: 15px;
    /* preserve style - to position cards in 3D space */
    transform-style: preserve-3d;
    transition: transform 1s;

}

/* triggers when a card is clicked */
.card:active{ 
    transform: scale(0.90);
    transition: transform .5s;
}
.card:hover{
    transform: scale(1.25)
}
/* all cards' images */
img{
    max-height: 100px;
    max-width:150px;
}
/* cards' front & back */
.front,.back {
  width: 100%;
  height: 900%;
  padding: 10px;
  position: absolute;
  border-radius: 30px;
  background: #fbcbee;
  backface-visibility: hidden;

}
.front{
    transform: rotateY(180deg);
  }
/* once clicked card will rotate 180 degrees to show its front */
.card.flip{
    transform: rotateY(180deg);
}
.card.shuffle{
    transform: rotateY(360deg);
}

@media screen and (min-width: 540px) and (max-width: 780px) {
    .view {
        width: 600px;
    }
}
.end-game-page{
    font-size: x-large; 
    position: absolute;
    margin: 0px 10px 0px -30px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to top, #dfd351 0%, #f0b87c 100%);
    height:0%;

}




