*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    display: flex;
    height: 100vh;    
}
.headers{
    margin: 25px 30px 75px 100px;
    flex-wrap: wrap;
    opacity: 70%;
    font-family: custom;
    color:#071271;
    font-size: larger;
    
}
#player1{
    order: 0;

}
#player2{
    order: 2;
}
#now-playing{
    order: 1;
    margin-top: 160px;
    margin-left: -690px;
    margin-right: 350px;
    background-color: #faffff;
    max-height: 7%;
    max-width: 100%;
    border-radius: 100px;    
}
#times{
    order:0;
    margin-top: 780px;
    margin-left: -190px;
    font-family: monospace;
}

/* imported font */
@font-face{
    font-family: custom;
    src: url(/font/Purple_Smile.otf);

}
.cards-container{
    flex-wrap: wrap;
    width: 560px;
    height: 460px;
    margin: 240px 130px 75px 300px;
    display: flex;
    /* perspective - how far an object is from a viewer */
    perspective: 1000px;
}
.card{
    width: calc(18% - 1px);
    height: calc(19% - 10px);
    margin: 15px;
    /* margin-top: 20px; */
    position: relative;
    box-shadow: 15px 15px 45px rgba(140, 24, 175, 0.3);
    transform: scale(1);
    border-radius: 15px;
    /* preserve style - to position cards in 3D space */
    transform-style: preserve-3d;
    transition: transform 1s;

}

/* triggers when a card is clicked */
.card:active{ 
    transform: scale(0.90);
    transition: transform .5s;
}
/* all cards' images */
img{
    max-height: 100px;
    max-width:150px;
}
/* cards' front & back */
.front,.back {
  width: 100%;
  height: 900%;
  padding: 10px;
  position: absolute;
  border-radius: 30px;
  background: #fbcbee;
  backface-visibility: hidden;

}
.front{
    transform: rotateY(180deg);
  }
/* once clicked card will rotate 180 degrees to show its front */
.card.flip{
    transform: rotateY(180deg);
}

@media screen and (min-width: 540px) and (max-width: 780px) {
    .view {
        width: 600px;
    }
}
